/*****************************
00. Mixins CSS
******************************/
@import url("https://fonts.googleapis.com/css?family=Anton|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
.form-wrapper button[type=submit] {
  border: 0; }

.owl-nav div, .single-testimonial-item .quote-icon {
  border-radius: 50%; }

.header-area .boxed-btn, .header-area .phone-icon, .top-contact-section .top-social-icons a, .single-slider-item .slider-text .boxed-btn, .why-choose-us-area .single-choose-us-item span {
  border-radius: 50px; }

.boxed-btn, .boxed-btn:after, .about-us-area .about-image-wrap .about-big-image img, .about-us-area .about-image-wrap .about-small-image, .about-us-area .about-image-wrap .about-small-image img {
  border-radius: 3px; }

.mainmenu ul li > a, .single-footer-info.footer-social-icons ul li a, .scrollToTop, .single-service-item, .single-service-item h4 span, .single-testimonial-item .quote-icon, .novomotors-info-area .single-novomotors-info .novo-number, .why-choose-us-area .single-choose-us-item span {
  display: block; }

.slicknav_menu {
  display: none; }

.owl-nav div, .mainmenu ul li, .single-footer-info.quick-links ul li a, .why-choose-us-area.text-center .section-title {
  display: inline-block; }

.top-contact-section .top-phone a, .mainmenu, .single-footer-info.contact-info ul li, .boxed-btn, .boxed-btn i.fa, .single-slider-item .slider-text, .novomotors-info-area .single-novomotors-info {
  position: relative; }

.owl-nav div, .header-area, .header-area .boxed-btn, .header-area .phone-icon, .single-footer-info.contact-info ul li i, .homeoage-slides-area .owl-dots, .single-service-item .service-border, .single-testimonial-item .quote-icon, .single-testimonial-item .author-name, .single-testimonial-item .stars-wrap, .call-to-action-area .boxed-btn i, .banner-area .banner-title, .novomotors-info-area .single-novomotors-info .novo-icon, .single-contact-info .contact-icon {
  position: absolute; }

.scrollToTop {
  position: fixed; }

.single-slider-item, .service-bg, .testimonial-area, .banner-area {
  background-size: cover;
  background-position: center;
  background-color: #ddd; }

.banner-area {
  z-index: 2; }

.boxed-btn:after, .homeoage-slides-area:after, .single-slider-item .slider-text:after, .single-slider-item .slider-text:before, .single-service-item .service-text:after, .testimonial-area:after, .single-testimonial-wrap:after, .single-testimonial-wrap:before,
.single-testimonial-item:after, .single-testimonial-item:before, .banner-area:after {
  position: absolute;
  content: ""; }

a, button, img, input, span, .owl-nav div, .header-area .boxed-btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.single-footer-info.quick-links ul li a, .boxed-btn:after, .service-bg, .single-service-item .service-border, .single-service-item .service-text:after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.header-area .boxed-btn, .mainmenu ul li > a, .footer-area .copyright-text, .single-footer-info.quick-links ul li a, .single-footer-info.footer-social-icons ul li a, .single-slider-item, .single-slider-item .slider-text .boxed-btn, .call-to-action-area .boxed-btn {
  text-transform: uppercase; }

.header-area, .boxed-btn:hover:after, .single-service-item .service-text:after, .testimonial-area:after, .banner-area:after {
  width: 100%; }

.boxed-btn:after, .single-slider-item .slider-text:after, .single-slider-item .slider-text:before, .single-service-item .service-text:after, .testimonial-area:after, .banner-area:after {
  height: 100%; }

.owl-nav div, .top-contact-section .top-social-icons a, .single-footer-info.contact-info ul li i, .single-footer-info.footer-social-icons ul li a i.fa, .scrollToTop, .single-service-item h4, .novomotors-info-area .single-novomotors-info .novo-icon, .why-choose-us-area .single-choose-us-item span {
  text-align: center; }

.owl-nav div, .single-testimonial-item .quote-icon {
  border-radius: 50%; }

.boxed-btn {
  font-family: "Poppins", sans-serif; }

/*======fonts==============*/
/*=================== Reset CSS =====================*/
img {
  max-width: 100%;
  height: auto; }

a, a:hover, a:focus, a:active, button, button:focus,
input, input:focus, select, textarea, textarea:focus, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: 0 solid; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

::selection {
  background: #90B1C3;
  color: #fff; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

*:focus {
  outline: none !important; }

a:focus {
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type=submit] {
  cursor: pointer; }

/*==============Common CSS===================*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #12202d;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 700; }

p:last-child {
  margin-bottom: 0; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
  border-radius: 5px;
  height: 50px;
  padding: 8px 20px; }

.form-group {
  margin-bottom: 25px; }
  .form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #115aaf; }
  .form-group .form-control:hover {
    border-color: #115aaf; }

input[type=submit], button[type=submit] {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #12202d; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #12202d; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #12202d; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #12202d; }

textarea {
  height: 150px;
  padding: 10px 20px;
  width: 100%;
  border-color: #ced4da;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  textarea:focus {
    border-color: #115aaf; }
  textarea:hover {
    border-color: #115aaf; }

/*========.section-title=========*/
.section-title {
  font-size: 14px;
  margin-bottom: 30px;
  color: #12202d;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px; }
  .section-title:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #115AAF;
    content: "";
    border-radius: 5px; }
  .section-title h2 {
    margin: 0 0 4px;
    text-transform: capitalize;
    color: #115AAF;
    font-size: 38px;
    line-height: 38px; }
    .section-title h2 span {
      color: #031a39; }
    @media (max-width: 767px) {
      .section-title h2 {
        font-size: 32px; } }

.section-padding {
  padding: 60px 0; }

/*======.owl-dots customization=======*/
.owl-dots {
  text-align: center; }
  .owl-dots div {
    height: 15px;
    width: 15px;
    background-color: #7F8794;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%; }
    .owl-dots div.active {
      background-color: #115aaf; }

/*=====owl nav customization======*/
.owl-nav div {
  left: 2%;
  top: 50%;
  color: #090A0C;
  background-color: #fff;
  line-height: 60px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  font-size: 45px;
  padding-right: 5px; }
  .owl-nav div.owl-next {
    left: auto;
    right: 2%;
    padding-left: 5px;
    padding-right: 0; }
  .owl-nav div:hover {
    color: #ffffff;
    background-color: #115aaf; }

select {
  font-size: 19px;
  color: #115aaf;
  background-color: #fff;
  padding: 8px 10px; }

/*========.nice-select=============*/
.nice-select {
  width: 100%;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-color: #ced4da; }
  .nice-select .list {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ced4da; }
  .nice-select:focus {
    border-color: #115aaf; }
  .nice-select:hover {
    border-color: #115aaf; }
  .nice-select:after {
    right: 25px;
    border-color: #ced4da;
    width: 10px;
    height: 10px;
    margin-top: -6px; }
  .nice-select:hover:after {
    border-color: #115aaf; }

/*=============== Header CSS ==================*/
.header-area {
  left: 0;
  top: 0;
  z-index: 99;
  height: 120px;
  background-color: #00000090; }
  @media (max-width: 991px) {
    .header-area {
      height: 90px; } }
  @media (max-width: 991px) {
    .header-area .container {
      position: relative; } }
  .header-area .site-logo {
    height: 120px; }
    @media (max-width: 991px) {
      .header-area .site-logo {
        height: 90px; } }
  .header-area .boxed-btn {
    right: 0px;
    top: 0;
    border: 2px solid #fff;
    padding: 6px 24px;
    letter-spacing: 1px; }
    .header-area .boxed-btn:hover {
      border-color: #fff; }
    .header-area .boxed-btn:after {
      background: none; }
  @media (max-width: 991px) {
    .header-area .logo-wrap {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 auto;
      width: 200px;
      text-align: center; } }
  .header-area .phone-icon {
    top: 25px;
    left: 15px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 41px; }

.top-contact-section {
  width: 450px;
  padding: 12px 0;
  border-radius: 0 0 15px 15px; }
  .top-contact-section .top-social-icons a {
    width: 26px;
    height: 26px;
    border: 2px solid #fff;
    line-height: 24px;
    margin-left: 5px; }
    .top-contact-section .top-social-icons a:hover {
      opacity: .6;
      color: inherit; }
  .top-contact-section .top-phone a {
    font-weight: 500;
    font-size: 18px; }
    .top-contact-section .top-phone a i {
      font-size: 22px;
      margin-right: 5px; }
    .top-contact-section .top-phone a:hover {
      opacity: .6;
      color: inherit; }

.mainmenu {
  margin-top: 15px; }
  .mainmenu ul {
    margin-right: 200px; }
    .mainmenu ul li {
      margin-left: 15px; }
      .mainmenu ul li > a {
        font-size: 15px;
        padding: 8px 15px 4px;
        border-bottom: 4px solid transparent; }
      .mainmenu ul li:hover > a {
        border-color: #fff; }

@media (min-width: 992px) {
  .header-area.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: slide-down 0.7s;
    animation: slide-down 0.7s; }
    .header-area.fixed:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #000;
      left: 0;
      top: 0;
      opacity: .5; } }

@media (max-width: 991px) {
  .header-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #031a39; } }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* =======slicknav_menu======== */
@media (max-width: 991px) {
  .slicknav_menu {
    display: block;
    background: #ddd;
    position: fixed;
    left: 0;
    top: -10px;
    right: 0;
    width: 720px;
    z-index: 999999999999;
    margin: 0 auto;
    height: 0; }
    .slicknav_menu span.slicknav_menutxt {
      display: none; }
    .slicknav_menu .slicknav_btn {
      padding: 0;
      margin: 0px 11px 0 0;
      font-size: 30px;
      background: none;
      top: 39px;
      right: 15px; } }
    @media (max-width: 991px) and (min-width: 576px) {
      .slicknav_menu .slicknav_btn {
        margin: 0px -5px 0 0; } }
    @media (max-width: 991px) and (max-width: 767px) {
      .slicknav_menu .slicknav_btn {
        right: 0; } }

@media (max-width: 991px) {
      .slicknav_menu .slicknav_btn:hover {
        background: none; }
    .slicknav_menu .slicknav_icon {
      margin: 0; }
      .slicknav_menu .slicknav_icon span {
        background-color: #fff;
        border-radius: 0px; }
    .slicknav_menu .slicknav_nav {
      padding: 10px 0;
      background: #fff;
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      -webkit-box-shadow: 2px 10px 30px -14px #000;
      box-shadow: 2px 10px 30px -14px #000; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        padding: 0; }
        .slicknav_menu .slicknav_nav .slicknav_row a {
          padding: 10px 15px;
          display: inline-block; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        border-radius: 0px; }
        .slicknav_menu .slicknav_nav .slicknav_row:hover {
          border-radius: 0px; }
    .slicknav_menu a {
      padding: 10px 15px;
      font-size: 16px;
      color: #000;
      border-radius: 0; }
      .slicknav_menu a:hover {
        border-radius: 0; } }

@media (min-width: 576px) and (max-width: 767px) {
  .slicknav_menu {
    width: 540px; } }

@media (max-width: 575px) {
  .slicknav_menu {
    width: 100%; } }

/*============== Footer CSS ================*/
.footer-area {
  padding: 70px 0 0;
  background-color: #EDF7FF; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer-area {
      font-size: 14px; } }
  .footer-area h4 {
    font-size: 18px;
    font-weight: 600; }
  .footer-area .footer-logo {
    margin-top: 60px; }
    @media (max-width: 991px) {
      .footer-area .footer-logo {
        margin-top: 0;
        text-align: center;
        margin-bottom: 30px; } }
  .footer-area .copyright-text {
    font-size: 14px;
    padding: 15px 0;
    border-top: 1px solid #D2DBE2; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .footer-area .copyright-text {
        font-size: 13px; } }
    @media (max-width: 767px) {
      .footer-area .copyright-text {
        text-align: center !important; } }
  @media (max-width: 767px) {
    .footer-area .autohq-logo {
      text-align: center !important;
      margin-bottom: 10px; } }
  .footer-area .autohq-logo img {
    max-width: 100px; }

@media (max-width: 767px) {
  .footer-contact-info {
    display: block !important; } }

.single-footer-info {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  margin-bottom: 30px; }
  @media (min-width: 576px) and (max-width: 767px) {
    .single-footer-info {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  @media (max-width: 575px) {
    .single-footer-info {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .single-footer-info.contact-info {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%; }
  .single-footer-info.footer-social-icons {
    padding-left: 25px; }
    @media (max-width: 767px) {
      .single-footer-info.footer-social-icons {
        padding-left: 0;
        padding-right: 35%; } }
  .single-footer-info.quick-links ul li {
    margin-bottom: 8px; }
    .single-footer-info.quick-links ul li a {
      color: #585858;
      font-size: 15px;
      padding: 5px 10px 5px 0; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .single-footer-info.quick-links ul li a {
          font-size: 13px; } }
    .single-footer-info.quick-links ul li:hover a {
      padding-left: 5px; }
  .single-footer-info.contact-info ul li {
    padding-left: 35px;
    color: #45484c;
    margin-bottom: 30px; }
    .single-footer-info.contact-info ul li:first-child {
      font-weight: 700;
      font-size: 18px; }
    .single-footer-info.contact-info ul li i {
      left: 0;
      top: 1px;
      font-size: 24px;
      width: 24px; }
    .single-footer-info.contact-info ul li i.fa-envelope {
      font-size: 20px; }
  .single-footer-info.footer-social-icons ul li {
    margin-bottom: 15px; }
    .single-footer-info.footer-social-icons ul li a {
      font-size: 13px;
      line-height: 32px;
      height: 32px; }
      .single-footer-info.footer-social-icons ul li a i.fa {
        width: 38px;
        background-color: #3b579d;
        line-height: 32px;
        font-size: 16px;
        margin-right: 10px; }
      .single-footer-info.footer-social-icons ul li a i.fa-google-plus {
        background-color: #dd4b39; }

.scrollToTop {
  right: 2%;
  width: 40px;
  height: 40px;
  z-index: 9;
  font-size: 25px;
  line-height: 37px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

/*=========== Button CSS ==========*/
.boxed-btn {
  padding: 10px 22px;
  font-weight: 700;
  text-transform: capitalize;
  z-index: 2; }
  .boxed-btn:after {
    z-index: -1;
    left: 0;
    top: 0;
    width: 0; }
  .boxed-btn i.fa {
    bottom: -3px;
    margin-left: 5px;
    font-size: 20px; }

.single-footer-info.quick-links ul li:hover a, .homeoage-slides-area .owl-nav div:hover, .single-slider-item .slider-text .boxed-btn:hover, .call-to-action-area .boxed-btn:hover, .why-choose-us-area .single-choose-us-item span, .single-contact-info a:hover, .single-contact-info .contact-icon {
  color: #115aaf; }

.scrollToTop:hover, .boxed-btn, .single-service-item:hover .service-text:after, .call-to-action-area, .novomotors-info-area, .why-choose-us-area .single-choose-us-item:hover span {
  background-color: #115aaf; }

.header-area .boxed-btn:hover, .footer-area h4, .footer-area .copyright-text, .single-footer-info.footer-social-icons ul li a {
  color: #031a39; }

.top-contact-section, .boxed-btn:after, .call-to-action-area .boxed-btn {
  background-color: #031a39; }

.header-area .phone-icon, .top-contact-section, .mainmenu ul li > a, .single-footer-info.footer-social-icons ul li a i.fa, .scrollToTop, .scrollToTop:hover, .boxed-btn, .boxed-btn:hover, .single-slider-item, .single-service-item, .single-service-item:hover, .testimonial-area .section-title, .testimonial-area .section-title h2, .single-testimonial-item, .single-testimonial-item .quote-icon, .banner-area .banner-title, .novomotors-info-area, .why-choose-us-area .single-choose-us-item:hover span {
  color: #ffffff; }

.header-area .boxed-btn:hover, .single-footer-info.footer-social-icons ul li a, .homeoage-slides-area:after, .single-slider-item .slider-text:after, .single-slider-item .slider-text:before, .single-slider-item .slider-text .boxed-btn:hover, .testimonial-area .owl-dots div.active, .testimonial-area .section-title:after, .single-testimonial-wrap:after, .single-testimonial-wrap:before,
.single-testimonial-item:after, .single-testimonial-item:before, .call-to-action-area .boxed-btn:hover:after {
  background-color: #ffffff; }

.scrollToTop, .banner-area:after {
  background-color: #000000; }

/*================Home Page CSS===============*/
.homeoage-slides-area:after {
  bottom: -67px;
  left: 0;
  width: 110%;
  height: 100px;
  z-index: 9;
  -webkit-transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  transform: rotate(-1.7deg); }
  @media (max-width: 767px) {
    .homeoage-slides-area:after {
      bottom: -65px;
      height: 80px; } }

.homeoage-slides-area .owl-dots {
  left: 0;
  bottom: 135px;
  right: 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .homeoage-slides-area .owl-dots {
      bottom: 70px; } }
  @media (max-width: 767px) {
    .homeoage-slides-area .owl-dots {
      bottom: 41px; } }

.homeoage-slides-area .owl-nav div {
  bottom: 135px;
  top: auto;
  left: 46.7%;
  background: transparent;
  width: 30px;
  height: 30px;
  font-size: 26px;
  line-height: 30px;
  z-index: 9; }
  @media (min-width: 1200px) and (max-width: 1500px) {
    .homeoage-slides-area .owl-nav div {
      left: 45%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .homeoage-slides-area .owl-nav div {
      left: 44%; } }
  @media (max-width: 991px) {
    .homeoage-slides-area .owl-nav div {
      left: 42%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .homeoage-slides-area .owl-nav div {
      bottom: 70px; } }
  @media (max-width: 767px) {
    .homeoage-slides-area .owl-nav div {
      bottom: 41px;
      left: 35%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .homeoage-slides-area .owl-nav div {
      left: 40%; } }

.homeoage-slides-area .owl-nav div.owl-next {
  right: 46.7%;
  left: auto; }
  @media (min-width: 1200px) and (max-width: 1500px) {
    .homeoage-slides-area .owl-nav div.owl-next {
      right: 45%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .homeoage-slides-area .owl-nav div.owl-next {
      right: 44%; } }
  @media (max-width: 991px) {
    .homeoage-slides-area .owl-nav div.owl-next {
      right: 42%; } }
  @media (max-width: 767px) {
    .homeoage-slides-area .owl-nav div.owl-next {
      right: 35%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .homeoage-slides-area .owl-nav div.owl-next {
      right: 40%; } }

.homeoage-slides-area .owl-nav div:hover {
  background: transparent; }

.homeoage-slides-area, .single-slider-item {
  height: 860px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .homeoage-slides-area, .single-slider-item {
      height: 600px; } }
  @media (max-width: 767px) {
    .homeoage-slides-area, .single-slider-item {
      height: 450px; } }

.single-slider-item h2 {
  font-size: 87px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 87px;
  margin: 5px 0 10px;
  letter-spacing: 2px; }
  @media (max-width: 991px) {
    .single-slider-item h2 {
      font-size: 70px; } }
  @media (max-width: 767px) {
    .single-slider-item h2 {
      font-size: 50px;
      line-height: 60px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .single-slider-item h2 {
      font-size: 65px;
      line-height: 75px; } }

.single-slider-item h3 {
  font-size: 50px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 25px;
  letter-spacing: 2px; }
  @media (max-width: 991px) {
    .single-slider-item h3 {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .single-slider-item h3 {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .single-slider-item h3 {
      font-size: 24px; } }

.single-slider-item p {
  margin: 0 0 0; }

.single-slider-item .slider-text {
  margin-top: 320px;
  padding-left: 60px;
  padding-top: 50px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .single-slider-item .slider-text {
      margin-top: 160px; } }
  @media (max-width: 991px) {
    .single-slider-item .slider-text {
      padding-left: 30px;
      padding-top: 30px; } }
  @media (max-width: 767px) {
    .single-slider-item .slider-text {
      margin-top: 130px;
      padding-top: 20px; } }
  .single-slider-item .slider-text:after, .single-slider-item .slider-text:before {
    left: 0;
    top: 0;
    width: 12px; }
    @media (max-width: 767px) {
      .single-slider-item .slider-text:after, .single-slider-item .slider-text:before {
        width: 8px; } }
  .single-slider-item .slider-text:before {
    width: 420px;
    height: 12px; }
    @media (max-width: 991px) {
      .single-slider-item .slider-text:before {
        width: 350px; } }
    @media (max-width: 767px) {
      .single-slider-item .slider-text:before {
        height: 8px;
        width: 220px; } }
  .single-slider-item .slider-text .boxed-btn {
    padding: 15px 50px; }
    .single-slider-item .slider-text .boxed-btn:after {
      background: none; }
    @media (max-width: 991px) {
      .single-slider-item .slider-text .boxed-btn {
        padding: 12px 35px; } }
    @media (max-width: 767px) {
      .single-slider-item .slider-text .boxed-btn {
        margin-top: 0 !important; } }

.service-bg {
  height: 285px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.single-service-item {
  margin-bottom: 30px; }
  .single-service-item:hover .service-border {
    border-color: #115aaf; }
  .single-service-item:hover .service-bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .single-service-item h4 {
    font-size: 16px;
    margin: 0;
    line-height: 22px; }
    .single-service-item h4 span {
      font-weight: normal; }
  .single-service-item .service-border {
    border: 2px solid #fff;
    width: 90%;
    height: 82%;
    left: 0;
    top: 50%;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%); }
  .single-service-item .service-text {
    width: 280px;
    height: 80px;
    z-index: 2; }
    .single-service-item .service-text:after {
      left: 0;
      top: 0;
      background-color: #031A39;
      z-index: -1;
      border-radius: 5px;
      opacity: .9; }

.about-us-area .about-text {
  padding-right: 30px; }

.about-us-area .about-image-wrap {
  max-width: 460px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .about-us-area .about-image-wrap {
      max-width: 400px; } }
  @media (max-width: 991px) {
    .about-us-area .about-image-wrap {
      margin-bottom: 20px; } }
  .about-us-area .about-image-wrap .about-big-image img {
    max-width: 460px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .about-us-area .about-image-wrap .about-big-image img {
        max-width: 400px; } }
  .about-us-area .about-image-wrap .about-small-image {
    left: 0;
    top: 50%;
    -webkit-transform: translate(-48%, -50%);
    -ms-transform: translate(-48%, -50%);
    transform: translate(-48%, -50%);
    -webkit-box-shadow: 0px 0px 25px -7px #000;
    box-shadow: 0px 0px 25px -7px #000; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .about-us-area .about-image-wrap .about-small-image {
        left: 15px; } }
    .about-us-area .about-image-wrap .about-small-image img {
      max-width: 200px; }

.testimonial-area {
  background-attachment: fixed;
  height: 660px;
  padding-top: 70px;
  z-index: 2; }
  @media (max-width: 991px) {
    .testimonial-area {
      background-attachment: scroll; } }
  @media (max-width: 767px) {
    .testimonial-area {
      padding-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 580px; } }
  .testimonial-area .owl-stage-outer {
    padding: 60px 0 80px; }
  .testimonial-area:after {
    left: 0;
    top: 0;
    background-color: #000;
    z-index: -1;
    opacity: .5; }
  .testimonial-area .section-title {
    padding-left: 0;
    margin-bottom: 55px; }
    @media (max-width: 767px) {
      .testimonial-area .section-title {
        margin-bottom: 20px; } }
    .testimonial-area .section-title:after {
      width: 80px;
      height: 7px;
      left: 0;
      bottom: -17px;
      right: 0;
      margin: 0 auto;
      top: auto; }

.single-testimonial-item {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 80px 40px 40px 40px;
  font-size: 18px;
  line-height: 1.4rem; }
  @media (max-width: 767px) {
    .single-testimonial-item {
      padding: 40px 15px 30px 15px;
      font-size: 16px;
      line-height: 1.3rem; } }
  .single-testimonial-item p {
    margin: 0; }
  .single-testimonial-item .quote-icon {
    left: 0;
    top: -60px;
    right: 0;
    font-size: 50px;
    width: 115px;
    height: 115px;
    border: 3px solid #fff;
    margin: 0 auto;
    z-index: 999;
    line-height: 100px; }
    @media (max-width: 767px) {
      .single-testimonial-item .quote-icon {
        top: -41px;
        font-size: 40px;
        width: 75px;
        height: 75px;
        line-height: 73px; } }
  .single-testimonial-item .author-name {
    left: 0;
    bottom: -55px;
    right: 0; }
    .single-testimonial-item .author-name h3 {
      font-size: 18px;
      font-weight: normal; }
  .single-testimonial-item .stars-wrap {
    left: 0;
    bottom: -14px;
    right: 0; }
    .single-testimonial-item .stars-wrap span {
      color: #F7B402;
      margin: 0 1px;
      font-size: 16px; }

.single-testimonial-wrap:after, .single-testimonial-wrap:before,
.single-testimonial-item:after, .single-testimonial-item:before {
  left: 0;
  top: 0;
  width: 36%;
  height: 1px; }

.single-testimonial-wrap:before,
.single-testimonial-item:before {
  left: auto;
  right: 0; }

.single-testimonial-item:after, .single-testimonial-item:before {
  top: auto;
  bottom: 0;
  width: 41%; }

.call-to-action-area {
  color: #ecf5ff;
  padding: 72px 0 42px;
  font-size: 17px;
  -webkit-clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 100%); }
  @media (max-width: 991px) {
    .call-to-action-area {
      text-align: center;
      -webkit-clip-path: polygon(0 0%, 100% 12%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0%, 100% 12%, 100% 100%, 0% 100%); } }
  @media (max-width: 767px) {
    .call-to-action-area {
      -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
      padding: 55px 0 35px; } }
  .call-to-action-area h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 5px; }
    @media (max-width: 991px) {
      .call-to-action-area h3 {
        font-size: 20px; } }
  @media (max-width: 991px) {
    .call-to-action-area .float-right {
      float: none !important;
      margin-top: 15px; } }
  .call-to-action-area .boxed-btn {
    border: 1px solid #fff;
    padding: 17px 75px 17px 25px;
    font-size: 17px; }
    .call-to-action-area .boxed-btn i {
      right: 18px;
      top: 15px;
      font-size: 28px; }

/*=========about-css==============*/
.banner-area {
  height: 450px; }
  @media (max-width: 991px) {
    .banner-area {
      height: 350px; } }
  .banner-area:after {
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .5; }
  .banner-area .banner-title {
    left: 15px;
    top: 220px; }
    @media (max-width: 991px) {
      .banner-area .banner-title {
        top: 158px; } }
    .banner-area .banner-title h2 {
      font-size: 50px; }
      @media (max-width: 991px) {
        .banner-area .banner-title h2 {
          font-size: 40px; } }
    .banner-area .banner-title i {
      margin: 0 10px; }
  .banner-area.section-padding {
    padding-top: 70px; }

@media (max-width: 991px) {
  .welcome-area img {
    margin-bottom: 20px; } }

.novomotors-info-area .single-novomotors-info {
  padding-right: 75px;
  font-size: 18px; }
  @media (max-width: 991px) {
    .novomotors-info-area .single-novomotors-info {
      margin-bottom: 30px;
      font-size: 16px; } }
  .novomotors-info-area .single-novomotors-info .novo-icon {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    line-height: 59px;
    right: 0;
    top: 0;
    font-size: 20px; }
  .novomotors-info-area .single-novomotors-info .novo-number {
    font-size: 30px;
    margin-bottom: 15px; }

.why-choose-us-area.text-center .single-choose-us-item span {
  margin: 0 auto;
  margin-bottom: 30px; }

.why-choose-us-area .single-choose-us-item {
  padding: 30px 20px 35px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .why-choose-us-area .single-choose-us-item span {
    width: 100px;
    height: 100px;
    border: 2px solid #115aaf;
    font-size: 30px;
    line-height: 93px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .why-choose-us-area .single-choose-us-item .section-title {
    margin-bottom: 40px; }
  .why-choose-us-area .single-choose-us-item:hover {
    -webkit-box-shadow: 0px 0px 24px -16px #000;
    box-shadow: 0px 0px 24px -16px #000; }
  .why-choose-us-area .single-choose-us-item h3 {
    color: #031a39;
    font-size: 24px; }

/*==================Contact-css==================*/
.map {
  height: 400px;
  background: #dddddd; }
  @media (max-width: 991px) {
    .map {
      height: 350px; } }

.single-contact-info {
  padding-left: 40px;
  margin-bottom: 30px; }
  .single-contact-info h3 {
    font-size: 24px;
    color: #031a39; }
  .single-contact-info .contact-icon {
    left: 0;
    top: 0;
    font-size: 30px; }
    .single-contact-info .contact-icon i.fa-envelope {
      font-size: 24px; }

.form-wrapper {
  margin-top: 50px; }
  .form-wrapper button[type=submit] {
    padding: 10px 50px; }
  .form-wrapper textarea {
    height: 198px; }

/*# sourceMappingURL=style.css.map */