/*=========about-css==============*/ 
// .banner-area
.banner-area{
    @extend %backgroundimage;
    height: 450px;
    @extend %zindex2;
    @include all-below-med{
        height: 350px;
    }
    &:after {
        @extend %pseudo;
        left: 0;
        top: 0;
        @extend %w100;
        @extend %h100;
        @extend %black-bg-color;
        z-index: -1;
        opacity: .5;
    }
    .banner-title {
        @extend %posabsolute;
        left: 15px;
        top: 220px;
        @extend %white-color;
        @include all-below-med{
            top: 158px;
        }
        h2 {
            font-size: 50px;
            @include all-below-med{
                font-size: 40px;
            }
        }
        i {
            margin: 0 10px;
        }
    }
    &.section-padding {
        padding-top: 70px;
    }
    
}


.welcome-area {
    @include all-below-med{
        img {
            margin-bottom: 20px;
        }

    }
}

// .novomotors-info-area
.novomotors-info-area {
    @extend %primary-bg-color;
    @extend %white-color;
    .single-novomotors-info {
        @extend %posrelative;
        padding-right: 75px;
        font-size: 18px;
        @include all-below-med{
            margin-bottom: 30px;
            font-size: 16px;
        }
        .novo-icon {
            @extend %posabsolute;
            width: 60px;
            height: 60px;
            border: 1px solid #fff;
            @extend %textcenter;
            line-height: 59px;
            right: 0;
            top: 0;
            font-size: 20px;
        }
        .novo-number {
            @extend %displayblock;
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
}


// .why-choose-us-area
.why-choose-us-area{
    &.text-center {
        .section-title {
            @extend %displayinline;
        }
        .single-choose-us-item span {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    .single-choose-us-item {
        padding: 30px 20px 35px;
            transition: all .5s ease;
        span {
            @extend %textcenter;
            @extend %displayblock;
            width: 100px;
            height: 100px;
            border: 2px solid $primary-color;
            @extend %borderradius50px;
            font-size: 30px;
            line-height: 93px;
            transition: all .5s ease;
            @extend %primary-color;
        }
        .section-title {
            margin-bottom: 40px;
        }
        &:hover {
            box-shadow: 0px 0px 24px -16px #000;
            span {
                @extend %primary-bg-color;
                @extend %white-color;
            }
        }
        h3 {
            color: #031a39;
            font-size: 24px;
        }
    }
}


