/*==================Contact-css==================*/ 

.map{
    height: 400px;
    background: #dddddd;
    @include all-below-med{
        height: 350px;
    }
}

.single-contact-info {
    padding-left: 40px;
    margin-bottom: 30px;
    a:hover {
        @extend %primary-color;
    }
    h3 {
        font-size: 24px;
        color: #031a39;
    }
    .contact-icon {
        @extend %posabsolute;
        left: 0;
        top: 0;
        @extend %primary-color;
        font-size: 30px;
        i.fa-envelope {
            font-size: 24px;
        }
    }
}

.form-wrapper {
    margin-top: 50px;
    button[type=submit] {
        @extend %borderzero;
        padding: 10px 50px;
    }
    textarea {
        height: 198px;
    }
}