/*=========== Button CSS ==========*/

.boxed-btn {
    @extend %primary-bg-color;
    @extend %borderradius3;
    padding: 10px 22px;
    font-weight: 700;
    @extend %body-font;
    @extend %white-color;
    text-transform: capitalize;
    @extend %posrelative;
    z-index: 2;
    &:after {
        @extend %pseudo;
        @extend %borderradius3;
        @extend %secondary-bg-color;
        @extend %basetransition2;
        @extend %h100;
        z-index: -1;
        left: 0;
        top: 0;
        width: 0;
    }
    i.fa {
        @extend %posrelative;
        bottom: -3px;
        margin-left: 5px;
        font-size: 20px;
    }
    &:hover {
        @extend %white-color;
        &:after{
            @extend %w100;
        }
    }
}
