/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #115AAF;
    padding: 10px 22px;
    font-weight: 700;
    border-radius: 3px;
    @extend %body-font;
    @extend %white-color;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: "";
        border-radius: 3px;
        background-color: #031A39;
        transition: all .5s ease;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        width: 0;
    }
    i.fa {
        position: relative;
        bottom: -3px;
        margin-left: 5px;
        font-size: 20px;
    }
    &:hover {
        @extend %white-color;
        &:after{
            width: 100%;
        }
    }
}
