/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #115AAF;
    padding: 10px 22px;
    font-weight: 700;
    border-radius: 3px;
    @extend %body-font;
    @extend %white-color;
    text-transform: capitalize;
    i.fa {
        position: relative;
        bottom: -3px;
        margin-left: 5px;
        font-size: 20px;
    }
    &:hover {
        @extend %white-color;
        
    }
}
