/*============== Footer CSS ================*/
.footer-area {
    padding: 70px 0 0;
    background-color: #EDF7FF;
    @include mx-desktops{
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
        font-weight: 600;
        @extend %secondary-color;
    }
    .footer-logo {
        margin-top: 60px;
        @include all-below-med{
            margin-top: 0;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .copyright-text {
        @extend %secondary-color;
        @extend %uppercase;
        font-size: 14px;
        padding: 15px 0;
        border-top: 1px solid #D2DBE2;
        @include mx-desktops{
            font-size: 13px;
        }
    }
}

.footer-contact-info{
    @include all-below-mobile-lg{
        display: block !important;
    }
}
.single-footer-info {
    flex-basis: 28%;
    margin-bottom: 30px;
    @include mx-mobile-lg{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    @include mx-mobile{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &.contact-info {
        flex-basis: 44%;
    }
    &.footer-social-icons {
        padding-left: 25px;
        @include all-below-mobile-lg{
            padding-left: 0;
            padding-right: 35%;
        }
    }
    &.quick-links {
        ul {
            li {
                margin-bottom: 8px;
                a {
                    color: #585858;
                    @extend %uppercase;
                    font-size: 15px;
                    padding: 5px 10px 5px 0;
                    @extend %displayinline;
                    @extend %basetransition2;
                    @include mx-desktops{
                        font-size: 13px;
                    }
                }
                &:hover a{
                    padding-left: 5px;
                    @extend %primary-color;
                }
            }
        }
    }
    &.contact-info {
        ul {
            li {
                @extend %posrelative;
                padding-left: 35px;
                color: #45484c;
                margin-bottom: 30px;
                &:first-child {
                    font-weight: 700;
                    font-size: 18px;
                }
                i {
                    @extend %posabsolute;
                    @extend %textcenter;
                    left: 0;
                    top: 1px;
                    font-size: 24px;
                    width: 24px;
                }
                i.fa-envelope {
                    font-size: 20px;
                }
            }
        }
    }
    &.footer-social-icons {
        ul {
            li {
                margin-bottom: 15px;
                a {
                    font-size: 13px;
                    @extend %uppercase;
                    @extend %secondary-color;
                    @extend %displayblock;
                    @extend %white-bg-color;
                    line-height: 32px;
                    height: 32px;
                    i.fa {
                        width: 38px;
                        background-color: $facebook-color;
                        @extend %white-color;
                        line-height: 32px;
                        @extend %textcenter;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                    i.fa-google-plus {
                        background-color: $google-plus-color;
                    }
                }
            }
        }
    }
}



.scrollToTop {
    @extend %posfixed;
    right: 2%;
    width: 40px;
    height: 40px;
    @extend %black-bg-color;
    z-index: 9;
    @extend %displayblock;
    @extend %white-color;
    @extend %textcenter;
    font-size: 25px;
    line-height: 37px;
    transition: .5s;
    &:hover{
        @extend %white-color;
        @extend %primary-bg-color;
    }
}