/*============== Footer CSS ================*/
.footer-area {
    padding: 70px 0 0;
    background-color: #EDF7FF;
    h4 {
        font-size: 18px;
        font-weight: 600;
        color: #031a39;
    }
    .footer-logo {
        margin-top: 60px;
    }
    .copyright-text {
        color: #3c3d3d;
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px 0;
        border-top: 1px solid #D2DBE2;
    }
}


.single-footer-info {
    flex-basis: 28%;
    margin-bottom: 30px;
    &.contact-info {
        flex-basis: 44%;
    }
    &.footer-social-icons {
        padding-left: 25px;
    }
    &.quick-links {
        ul {
            li {
                margin-bottom: 8px;
                a {
                    color: #585858;
                    text-transform: uppercase;
                    font-size: 15px;
                    padding: 5px 10px 5px 0;
                    display: inline-block;
                    transition: .5s;
                }
                &:hover a{
                    padding-left: 5px;
                    color: #115AAF;
                }
            }
        }
    }
    &.contact-info {
        ul {
            li {
                position: relative;
                padding-left: 35px;
                color: #45484c;
                margin-bottom: 30px;
                &:first-child {
                    font-weight: 700;
                    font-size: 18px;
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    font-size: 24px;
                    width: 24px;
                    text-align: center;
                }
                i.fa-envelope {
                    font-size: 20px;
                }
            }
        }
    }
    &.footer-social-icons {
        ul {
            li {
                margin-bottom: 15px;
                a {
                    font-size: 13px;
                    color: #0b345e;
                    text-transform: uppercase;
                    display: block;
                    background-color: #fff;
                    line-height: 32px;
                    height: 32px;
                    i.fa {
                        width: 38px;
                        background-color: #225E9A;
                        color: #fff;
                        line-height: 32px;
                        text-align: center;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                    i.fa-google-plus {
                        background-color: #CC3E3E;
                    }
                }
            }
        }
    }
}



.scrollToTop {
    @extend %posfixed;
    right: 2%;
    width: 40px;
    height: 40px;
    @extend %black-bg-color;
    z-index: 9;
    @extend %displayblock;
    @extend %white-color;
    @extend %textcenter;
    font-size: 25px;
    line-height: 37px;
    transition: .5s;
    &:hover{
        @extend %white-color;
        @extend %primary-bg-color;
    }
}